:root {
  scrollbar-width: thin;
  scrollbar-color: rgb(72 72 72) transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  border: 5px solid transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(72 72 72);
  background-clip: content-box;
  border: 10.5px solid transparent;
}

