:root {
  scrollbar-width: thin;
  scrollbar-color: rgb(72 72 72) transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  border: 5px solid transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(72 72 72);
  background-clip: content-box;
  border: 10.5px solid transparent;
}

.selectLogoContainer {
  position: absolute;
  top: -40px;
  right: -230px;
  padding: 20px;
  cursor: default;
  display: flex;
}

.selectLogoContainer:active {
  pointer-events: none!important;
}

#selectLogo > img {
  width: 55px;
  height: 55px;
  background: rgb(45,45,45);
  border: 1px solid rgb(50,50,50);
  border-radius: 6px;
  padding: 8px;
  pointer-events: all;
  cursor: pointer;
  transition: .12s all;
}

#selectLogo > img:hover {
  background: rgb(52,52,52);
  border: 1px solid rgb(50,50,50);
}

#selectLogo {
  width: 200px;
  height: 70px;
  background: rgb(38,38,38);
  border: 1px solid rgb(44,44,44);
  border-top: 1px solid rgb(52,52,52);
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 14%);
  border-radius: 8px;
  padding: 8px;
  transition: .12s all ease;
  opacity: 0;
  transform: translateX(-10px);
  pointer-events: none!important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -10px;
  cursor: default!important;
}

.selectLogoContainer:hover ~ .form-check-label.text-left {
  background: red;
}

#selectLogo > img:active {
  opacity: .5;
}

