.tooltip-inner {
  font-family: 'Roboto';
  font-size: 15px;
  padding: 7px;
  max-width: none;
  background: #3a3a3a;
  transform: scale(.9);
  opacity: 1!important;
  color: #eaeaea;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  transition: .2s all ease;
  margin-bottom: 0;
}

.tooltip {
  opacity: 1!important;
  transition: 0s all;
}

.arrow:before {
  display: none;
}

.bwrd-tooltip {
  cursor: pointer;
  position: relative;
}

.bwrd-tooltip::before {
  position: absolute;
  bottom: -80px;
  left: -80px;
  background-color: #555555;
  border-radius: 5px;
  color: #fff;
  content: attr(tooltip-text);
  padding: 1rem;
  text-transform: none;
  transition: all 0.5s ease;
  width: 160px;
}

.bwrd-tooltip::after {
  position: absolute;
  top: -12px;
  left: 9px;
  content: " ";
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  width: 0;
}

.bwrd-tooltip::before, .bwrd-tooltip::after {
  color: #efefef;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}

.bwrd-tooltip:focus::before, .bwrd-tooltip:focus::after, .bwrd-tooltip:hover::before, .bwrd-tooltip:hover::after {
  opacity: 1;
  transition: all 0.75s ease;
}

