#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(58,59,61);
  color: #fff;
  left: 150px;
  bottom: 20px;
  text-align: center;
  border-radius: 4px;
  padding: 13px;
  position: fixed;
}

#toast.show {
  visibility: visible;
  animation: fadein 500ms, fadeout 500ms 1.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 20px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 20px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

