*{
    color: rgb(243, 243, 243);
}

html{
    background: #121216;
    height: 100%;
}

body {height: 100%;}

#cf-wrapper div, button{
    background-color: transparent;
}

.bg-gradient-gray{
    background: 0!important;
}

.cf-error-footer p{
    transition: .078s filter;
    filter: blur(10px);
}

.cf-error-footer p:hover{
    filter: none;
}

.text-black-dark{
    color: #e9e9e9;
}

#cf-useful-buttons{
    animation: slideRight 0.25s cubic-bezier(0,0,0,1);
}

@keyframes slideRight{
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}