.bwcentertext{
    text-align: left!important;
}
#bwrdoverlay *{
    margin: unset!important;
}
.bwrdbtn{
    user-select: none;
    background: #7f9fdd;
    transition: .09s all;
    color: black;
    font-weight: 400;
    border-radius: 9px;
    padding: 7px 70px;
}
.bwrdbtn:hover{
    background: #9bb6ec;
}
.bwrdbtn:active{
    opacity: .5;
}
.loading{
    height: 40px;
    width: 40px;
    position: absolute;
    opacity: .5;
    display: inline-block;
    border: 5px solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loadingRotate 1s linear infinite;
}

/* Animations */
@keyframes buttonShow{
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}
@keyframes loadingRotate {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

/* For browsers that don't support backdrop-filter */
@supports not (backdrop-filter: none){
    #bwrdoverlay{background: #000000db!important};
}